:root {
    --background-color: #191919;
    --accent-color-1: #2D4263;
    --accent-color-2: #C84B31;
    --highlight-color-light: #ECDBBA;
    --highlight-color-dark: black;
}

.App {
    text-align: center;
}

.App-logo {
    height: 15vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: var(--accent-color-2);
}

.App-link {
    color: var(--accent-color-2);
    font-size: calc(12px + 2vmin);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
