.InputBox {
    border-style: solid;
    border-width: 10px;
    border-radius: 15px;
    padding: 2px;
    margin: 15px;
    width: 50%;

    border-color: var(--accent-color-medium);
    background-color: var(--accent-color-medium);
    color: var(--accent-color-light);

    font-size: calc(12px + 1vmin);
}